@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --mainColor: #202124;
  --mainColorLight: #28292c;
  --mainColorLight2: #f1f3f43d;
  --textcolor: #ffffffde;
}

* {
  font-family: "Roboto", sans-serif;
  background-color: var(--mainColor);
  color: var(--textcolor);
}

