.navbar {
  border-bottom: 0.5px solid var(--mainColorLight2);
  --bs-navbar-padding-y: 0;
}

.navbar-brand {
  display: flex;
  color: var(--textcolor);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-link {
  color: var(--textcolor);
}

.navbar-collapse {
  justify-content: center;
}

form {
  width: 50%;
  background-image: url("../Images/search.svg");
  background-position: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.form-control {
  background-color: var(--mainColorLight2);
  border: none;
  border-radius: 0.6rem;
  margin: 10px;
}

.form-control::placeholder {
  color: var(--textcolor);
  padding: 0 0 0 30px;
}

.form-control:focus {
  border: none;
  border-color: none;
  color: none;
}

.me-2 {
  height: 3rem;
}

input {
  border-width: none;
  color: var(--textcolor);
}



